<div class="reservation_item_container" id="reservation_item_<?= $res['reservation_id'] ?>">
  <div class="ticket_entry_header" id="reservation_header_<?= $res['reservation_id'] ?>">
    <span class="reservation_class" id="reservation_class_<?= $res['reservation_id'] ?>"><?= $res['reservation_class'] ?></span>
    <span style="float:right;font-style:italic;"></span>
  </div>
  <div class="reservation_body" id="reservation_body_<?= $res['reservation_id'] ?>">
    <div class="reservation_buttons" id="reservation_buttons_<?= $res['reservation_id'] ?>">
      <a href="https://tix.emsl.pnl.gov/nmr/ticket/delete/365">Delete</a>
      <a href="https://tix.emsl.pnl.gov/nmr/ticket/edit/365">Edit</a>
      <a href="https://tix.emsl.pnl.gov/nmr/ticket/365">View</a>
    </div>
  </div>
  <div class="reservation_footer" id="reservation_footer_<?= $res['reservation_id'] ?>">
    <span class="reservation_created" id="reservation_created_<?= $res['reservation_id'] ?>"></span>
    <span class="reservation_updated" id="reservation_updated_<?= $res['reservation_id'] ?>"></span>
  </div>
</div>