<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive_emsl.css" />
  </head>
  <body>
    <div class="page_wrapper">
      <div id="intranet_bg_left" class="intranet_bg">&nbsp;</div>
      <div id="intranet_bg_right" class="intranet_bg">&nbsp;</div>
      <div id="content">
        <div id="page_header">
	        <header>
	          <div id="pnnllogo_container">
	            <div id="pnnllogo">&nbsp;</div>
	          </div>
	          <div id="doe_logo_container">
	            <div id="doelogo">&nbsp;</div>
	          </div>
	        </header>
          <nav>
          	<div id="siteNav">
              <form method="get" action="https://search.pnl.gov/search" name="pnnlSearch" id="pnnlSearch">
                    <input type="hidden" name="as_sitesearch" value="">
                    <input type="hidden" name="access" value="a">
                    <input type="hidden" name="output" value="xml_no_dtd">
                    <input type="hidden" name="client" value="default_frontend">
                    <input type="hidden" name="site" value="default_collection">
                    <input type="hidden" name="proxystylesheet" value="default_frontend">
                    <input type="hidden" name="as_dt" value="i">

                <!-- <label for="q" class="over-apply">Search PNNL Intranet</label> -->
                <input type="search" name="q" id="q" maxlength="2047" value="" placeholder="Search PNNL Intranet">
                <!-- <button class="copper">Contact Us</button> -->
                <input type="image" id="searchSubmit" style="vertical-align:bottom;" width="23px" height="22px" alt="Search">
              </form>

              <ul id="pnnlNav">
                <li><a href="http://labweb.pnl.gov/default.aspx" id="home">LabWeb</a></li>
                <li><a href="http://labweb.pnl.gov/topicindex/" id="topicindex">Topic Index</a></li>
                <li><a href="http://sbms.pnl.gov" id="sbms">SBMS</a></li>
                <li><a href="http://www.pnl.gov" id="pnnl_home">PNNL External</a></li>
              </ul>
            </div>
          </nav>          
          <div id="subBanner" style="position:relative;">
            <div class="banner_bar_background">
              <div class="banner_bar banner_bar_right banner_bar_grey">
                <div id="site_label">Microscopy User Support</div>
              </div>
              <div class="banner_bar banner_bar_left banner_bar_orange">
                <div class="user_login_info">
	                <div class="login_name_container">Signed in as: <span id="login_name">Ken Auberry</span></div>
									<div class="tiny">Administrator</div>
								</div>
              </div>              
            </div>
          </div>
        </div>
        <div id="page_body">
					<div id="leftNav">
					  <div id="month_calendar"></div>
					  <ul>
						  <li class="first heading"><h2>Scheduling</h2>
							  <ul>
							    <li class="unselected">
							      <a href="http://docker.local/scheduling/my_reservations" id="entry_100.50">My Reservations</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/scheduling" id="entry_100.100">Instrument List</a>
							    </li>
							    <li class="selected">
							      <a href="http://docker.local/scheduling/calendar/stem" id="entry_100.101">&ndash; Scanning TEM (STEM)</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/scheduling/calendar/lhecryotem" id="entry_100.102">&ndash; Liquid Helium Cryo-TEM</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/scheduling/calendar/etem" id="entry_100.103">&ndash; Environmental TEM (ETEM)</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/scheduling/reservation" id="entry_100.300">Make a New Reservation</a>
							    </li>
							  </ul>
						  </li>
						  <li class="heading"><h2>General</h2>
							  <ul>
							    <li class="unselected">
							      <a href="http://docker.local/search" id="entry_150.150">Search Tickets</a>
							    </li>
							  </ul>
						  </li>
						  <li class="heading"><h2>User Support</h2>
							  <ul>
							    <li class="unselected">
							      <a href="http://docker.local/ticket/new" id="entry_175.50">New Ticket Entry</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/tickets/mine" id="entry_175.100">My Tickets</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/tickets/most_recent" id="entry_175.150">Most Recent Tickets</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/tickets/by_status" id="entry_175.200">Current Tickets by Status</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/tickets" id="entry_175.300">List Current Tickets by Priority</a>
							    </li>
							  </ul>
						  </li>
						  <li class="heading"><h2>Equipment</h2>
							  <ul>
							    <li class="unselected">
							      <a href="http://docker.local/equipment" id="entry_200.100">Available equipment by location</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/equipment/accessory" id="entry_200.101">List of Accessories [0]</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/equipment/instrument" id="entry_200.102">List of Instruments [3]</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/equipment/manipulator" id="entry_200.103">List of Manipulators [0]</a>
							    </li>
							  </ul>
						  </li>
						  <li class="heading"><h2>Administrative Tasks</h2>
							  <ul>
							    <li class="unselected">
							      <a href="http://docker.local/admin/users" id="entry_900.100">Current User List</a>
							    </li>
							    <li class="unselected">
							      <a href="http://docker.local/admin/add_equipment" id="entry_900.200">Add New Equipment Items</a>
							    </li>
							  </ul>
						  </li>
					  </ul>
					</div>        
	        
		      <div id="page_content">
	          <h1>The Honking</h1>
	          <p>It's toe-tappingly tragic! Quite possible. We live long and are celebrated poopers. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually! Does anybody else feel jealous and aroused and worried?</p>
	          <h2>The Deep South</h2>
	          <p>Oh yeah, good luck with that. Oh, you're a dollar naughtier than most. Hi, I'm a naughty nurse, and I really need someone to talk to. $9.95 a minute. Good news, everyone! I've taught the toaster to feel love!</p>
	          <ul>
	            <li>I found what I need. And it's not friends, it's things.</li>
	            <li>I didn't ask for a completely reasonable excuse! I asked you to get busy!</li>
	            <li>Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans!</li>
	          </ul>
	          <h3>The Farnsworth Parabox</h3>
	          <p>We can't compete with Mom! Her company is big and evil! Ours is small and neutral! Why, those are the Grunka-Lunkas! They work here in the Slurm factory. Why would a robot need to drink? And until then, I can never die? Oh, I don't have time for this.  I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain.</p>
	          <h4>The Mutants Are Revolting</h4>
	          <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. No, of course not. It was&hellip; uh&hellip; porno. Yeah, that's it. Fry, you can't just sit here in the dark listening to classical music. Oh sure! Blame the wizards! It's okay, Bender. I like cooking too.</p>
	          <ol>
	            <li>Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life.</li>
	            <li>I videotape every customer that comes in here, so that I may blackmail them later.</li>
	          </ol>
	          <h5>Raging Bender</h5>
	          <p>So I really am important? How I feel when I'm drunk is correct? What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.</p>
	          <h6>Raging Bender</h6>
	          <p>They're like sex, except I'm having them! Oh sure! Blame the wizards! Good news, everyone! There's a report on TV with some very bad news!</p>
	          <p>Guards! Bring me the forms I need to fill out to have her taken away! Fry, you can't just sit here in the dark listening to classical music. No! I want to live! There are still too many things I don't own! You're going to do his laundry? Then we'll go with that data file!</p>
	          <p>For example, if you killed your grandfather, you'd cease to exist! No! The kind with looting and maybe starting a few fires! Oh God, what have I done?</p>
	          <p>Guess again. What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food. There's no part of that sentence I didn't like!</p>
	          <p>Fry, we have a crate to deliver. Uh, is the puppy mechanical in any way? I can explain. It's very valuable. I videotape every customer that comes in here, so that I may blackmail them later. Can we have Bender Burgers again? Stop! Don't shoot fire stick in space canoe! Cause explosive decompression!</p>
	          <p>Enough about your promiscuous mother, Hermes! We have bigger problems. Tell her she looks thin. I meant 'physically'. Look, perhaps you could let me work for a little food? I could clean the floors or paint a fence, or service you sexually? Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor.</p>
	          <p>Oh Leela! You're the only person I could turn to; you're the only person who ever loved me. Then we'll go with that data file! How much did you make me? I didn't ask for a completely reasonable excuse! I asked you to get busy! No argument here. Ven ve voke up, ve had zese wodies.</p>
	          <p>Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life. Eeeee!  Now say "nuclear wessels"! Robot 1-X, save my friends!  And Zoidberg! Calculon is gonna kill us and it's all everybody else's fault! Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip; Okay, I like a challenge.</p>
	          <p>Oh, I don't have time for this.  I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain. Have you ever tried just turning off the TV, sitting down with your children, and hitting them? It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels. Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? Why not indeed! And why did 'I' have to take a cab?</p>
	          <p>I just told you! You've killed me! Can we have Bender Burgers again? Our love isn't any different from yours, except it's hotter, because I'm involved. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually! We'll go deliver this crate like professionals, and then we'll go home. Now what?</p>
	          <p>Um, is this the boring, peaceful kind of taking to the streets? When I was first asked to make a film about my nephew, Hubert Farnsworth, I thought "Why should I?" Then later, Leela made the film. But if I did make it, you can bet there would have been more topless women on motorcycles. Roll film! I don't want to be rescued.</p>
	          <p>Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip; I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. Okay, I like a challenge. Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket.</p>
	          <p>Robot 1-X, save my friends!  And Zoidberg! Too much work. Let's burn it and say we dumped it in the sewer. Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? Good news, everyone! There's a report on TV with some very bad news! Yes. You gave me a dollar and some candy.</p>
	          <p>Oh, you're a dollar naughtier than most. No, just a regular mistake. I don't want to be rescued. You, a bobsleder!? That I'd like to see! Kids have names? No argument here.</p>
	          <p>You've killed me! Oh, you've killed me! Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans! Bender, we're trying our best. I found what I need. And it's not friends, it's things.</p>
	        </div>
	        
        </div>
        <div id="page_footer">
	        <footer>
		        <div class="banner_bar_background banner_footer">
              <div class="banner_bar banner_bar_right banner_bar_grey" id="banner_lower_left">&nbsp;</div>
              <div class="banner_bar banner_bar_left banner_bar_orange" id="banner_lower_right">&nbsp;</div>
              <div id="tagline">
	              <div id="tagline_left">
		              Last Update: <strong>August 2015</strong> | Pacific Northwest National Laboratory | Operated by Battelle for the U.S. Department of Energy
		            </div>
		            <div id="tagline_right">Security & Privacy</div>
              </div>
		        </div>
	        </footer>
        </div>
      </div>
    </div>
  </body>
</html>
