<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>MyEMSL Instrument Data Uploader</title>
    {% include "includes/global_styles.html" %}
    <link rel="stylesheet" href="/media/stylesheets/upload_style.css">

    <script type="text/javascript">
      $('select').select2();
    </script>
</head>
<body>
    <header>
        <div id="page_header">
            <div id="logo_container">
                <div id="logo_image">&nbsp;</div>
            </div>
            <div id="site_slogan">Environmental Molecular Sciences Laboratory</div>
            <div id="menu_block_container">
                &nbsp;
            </div>
        </div>
    </header>

		<div id="page_content">&nbsp;</div>

    <footer>
        <section id="contact_info">
            <p>Environmental Molecular Sciences Laboratory</p>
            <p>Phone: <span class="tel"><a href="tel:+15093716003">509.371.6003</a></span></p>
            <p><a class="email" href="mailto:emsl@pnnl.gov">emsl@pnnl.gov</a></p>
            <p><a href="https://www.emsl.pnl.gov/emslweb/security-privacy">Security & Privacy</a></p>
        </section>
        <section class="social-icons">
            <div class="facebook">
                <a href="http://www.facebook.com/emsl.pnl.gov">&nbsp;</a>
            </div>
            
            <a href="https://twitter.com/#!/EMSLscience">
                <img src="/emslweb/sites/all/themes/newEMSL/images/twitter.png">
            </a>
            <a href="https://plus.google.com/u/0/b/101061052038396007628/101061052038396007628/posts">
                <img src="/emslweb/sites/all/themes/newEMSL/images/google-plus.png">
            </a>
            <a href="http://www.linkedin.com/groups?gid=3063055">
                <img src="/emslweb/sites/all/themes/newEMSL/images/linkedin.png">
            </a>
            <a href="http://www.youtube.com/user/EMSLatPNNL">
                <img src="/emslweb/sites/all/themes/newEMSL/images/youtube.png">
            </a>
            <a href="http://www.flickr.com/photos/emsl/">
                <img src="/emslweb/sites/all/themes/newEMSL/images/flickr.png">
            </a>
        </section>
    </footer>

</body>
</html>
